---
layout: default
title: Mircea Baja's Posts
---
{% if paginator.page == 1 %}
  <h1 class="page-title">Mircea Baja's Posts</h1>
{% else %}
  <div class="home"><a href="/"><i class="fa fa-home fa-2x"></i></a></div>
{% endif %}

<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}">
        <div class="post-date">{{ post.date | date_to_long_string }}</div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.excerpt | truncatehtml | truncatewords: 30 | strip_html }}</p>
      </a>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a rel="prev" class="previous" href="/"><i class="fa fa-angle-left"></i> Previous</a>
      {% else %}
        <a rel="prev" class="previous" href="{{ paginator.previous_page_path }}"><i class="fa fa-angle-left"></i> Previous</a>
      {% endif %}
    {% else %}
      <span class="previous">&nbsp;</span>
    {% endif %}
    {% if paginator.next_page %}
      <a rel="next" class="next" href="{{ paginator.next_page_path }}">Next <i class="fa fa-angle-right"></i> </a>
    {% endif %}
  </div>
{% endif %}
