/**
 * Site header
 */
.top-strip {
  background-color: $reverse-background-color;
  height: $base-font-size;
}

/**
 * Site footer
 */
footer {
  background-color: $reverse-background-color;
  padding: $base-font-size 0;
}

.footer-content {
  text-align: center;
  @include font-size($base-font-size * 1.5, normal, $base-line-height);
}

/**
 * Page content
 */
.page-content {
  padding-bottom: $spacing-unit;
}

.page-title {
  @include font-size($title-font-size, bold, $title-font-size);
  border-bottom: 1px solid $grey-color;
  text-align: center;
  margin-top: $title-font-size;
  margin-bottom: 0px;
  padding-bottom: $spacing-unit;

  @include media-query($on-laptop) {
    font-size: 50px;
    margin-top: 25px;
    padding-bottom: 10px;
  }
}

.home {
  text-align: center;
  margin-top: $spacing-unit;
  border-bottom: 1px solid $grey-color-light;
  padding-bottom: $spacing-unit;
}

header {
  text-align: center;
}

.post-date {
  text-transform: uppercase;
  @include font-size($small-font-size, normal);
  letter-spacing: 0.2em;
}

header > .post-date {
  margin-top: $spacing-unit;
}

.post-title {
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
    padding: 10px 0 $spacing-unit;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-list {
  margin: $spacing-unit 0 0;
  list-style: none;
  text-align: center;

  > li {
    margin: $spacing-unit 0 $spacing-unit;

    > a {
      display: inline-block;
      text-decoration:none;

      &:visited {
        text-decoration:none;
      }

      &:hover {
        text-decoration:none;
      }
    }

    h2 {
      @include font-size($base-font-size * 2, bold, $base-font-size * 2);
      margin: 5px 0 10px 0;
    }

    p {
      @include font-size($base-font-size, normal);
    }
  }
}

.previous {
}

.next {
  float: right;
}

.pagination {
  padding-top: 20px;
  border-top: 1px solid $grey-color-light;

  > a {
    @include font-size($base-font-size, bold, $base-line-height);
    display: inline-block;
    text-decoration:none;

    &:visited {
      text-decoration:none;
    }

    &:hover {
      text-decoration:none;
    }
  }
}


.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
