---
layout: presentation
title: Clean git
---

Mircea Baja - 1 July 2022

# Clean git

<div align="center">
{% include assets/2022-07-01-clean-git/00-cover.svg %}
</div>

---

# Prerequisites

---

# Prerequisites

<pre><font color="#3465A4"><b>repo</b></font>$ git init
Initialised empty Git repository in repo/.git/
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master #%)</b></font>$ git add a.txt
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master +)</b></font>$ git status
...
    <font color="#4E9A06">new file:   a.txt</font>
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master +)</b></font>$ git diff --staged
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master +)</b></font>$ git commit -m &apos;Initial&apos;
[master (root-commit) 902c9e2] Initial
 1 file changed, 5 insertions(+)
 create mode 100644 a.txt
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master)</b></font>$ git log --graph --oneline
* <font color="#C4A000">902c9e2 (</font><font color="#06989A"><b>HEAD -&gt; </b></font><font color="#4E9A06"><b>master</b></font><font color="#C4A000">)</font> Initial
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master)</b></font>$ 
</pre>

---

# Prerequisites

<pre><font color="#3465A4"><b>temp</b></font>$ git clone repo.git
Cloning into &apos;repo&apos;...
done.
<font color="#3465A4"><b>temp</b></font>$ cd repo
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master=)</b></font>$ git pull
Already up-to-date.
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master *=)</b></font>$ git commit -am &apos;Change 3&apos;
[master 2180e3e] Change 3
 1 file changed, 1 insertion(+), 1 deletion(-)
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master&gt;)</b></font>$ git log --graph --oneline
* <font color="#C4A000">2180e3e (</font><font color="#06989A"><b>HEAD -&gt; </b></font><font color="#4E9A06"><b>master</b></font><font color="#C4A000">)</font> Change 3
* <font color="#C4A000">6c3a5fd (</font><font color="#CC0000"><b>origin/master</b></font><font color="#C4A000">, </font><font color="#CC0000"><b>origin/HEAD</b></font><font color="#C4A000">)</font> Change 2
* <font color="#C4A000">34d83e5</font> Change 1
* <font color="#C4A000">5cbc335</font> Initial
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master&gt;)</b></font>$ git push
...
   6c3a5fd..2180e3e  master -&gt; master
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master=)</b></font>$ 
</pre>

---

# Linear

<div align="center">
{% include assets/2022-07-01-clean-git/01-linear.svg %}
</div>

---

# Prerequisites

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master=)</b></font>$ git checkout -b some_branch
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch *)</b></font>$ git commit -am &apos;Change 4&apos;
[some_branch c8bb82d] Change 4
 1 file changed, 1 insertion(+), 1 deletion(-)
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git push
fatal: The current branch some_branch has no upstream branch.
...
    git push --set-upstream origin some_branch
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git push --set-upstream origin some_branch
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch=)</b></font>$ git log --graph --oneline some_branch master
* <font color="#C4A000">49d5900 (</font><font color="#CC0000"><b>origin/master</b></font><font color="#C4A000">, </font><font color="#CC0000"><b>origin/HEAD</b></font><font color="#C4A000">, </font><font color="#4E9A06"><b>master</b></font><font color="#C4A000">)</font> Other change
<font color="#CC0000">|</font> * <font color="#C4A000">c8bb82d (</font><font color="#06989A"><b>HEAD -&gt; </b></font><font color="#4E9A06"><b>some_branch</b></font><font color="#C4A000">, </font><font color="#CC0000"><b>origin/some_branch</b></font><font color="#C4A000">)</font> Change 4
<font color="#CC0000">|/</font>  
* <font color="#C4A000">2180e3e</font> Change 3
* <font color="#C4A000">6c3a5fd</font> Change 2
* <font color="#C4A000">34d83e5</font> Change 1
* <font color="#C4A000">5cbc335</font> Initial
</pre>

---

# Branch

<div align="center">
{% include assets/2022-07-01-clean-git/02-branch.svg %}
</div>

---

# Tip #1

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$  branch name
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch %)</b></font>$  untracked files
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch *)</b></font>$  modified files
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch +)</b></font>$  uncommitted files
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch=)</b></font>$  local in same as remote
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch *=)</b></font>$  in sync with remote, but modified files
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch&gt;)</b></font>$  ahead of remote
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch&lt;)</b></font>$  behind remote
</pre>

```bash
GIT_PS1_SHOWDIRTYSTATE=1
GIT_PS1_SHOWUNTRACKEDFILES=1
GIT_PS1_SHOWSTASHSTATE=1
GIT_PS1_SHOWUPSTREAM="auto"

PS1='...\[\033[01;33m\]$(__git_ps1 " (%s)")\[\033[00m\]\$ '
```

---

# Tip #2

<pre>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git push
fatal: The current branch some_branch has no upstream branch.
...
    git push --set-upstream origin some_branch
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git push --set-upstream origin some_branch
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch=)</b></font>$
</pre>

<pre>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git config --global push.default current
</pre>

<pre>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git push -u
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch=)</b></font>$
</pre>

---

# Branch models

---

# Tip #3

<div align="center">
{% include assets/2022-07-01-clean-git/06-interlaced.svg %}
</div>

- long lived interwoven branches are a lot of merging trouble


---

# Git flow

<div align="center">
{% include assets/2022-07-01-clean-git/03-git-flow.svg %}
</div>

Vincent Driessen 2010 https://nvie.com/posts/a-successful-git-branching-model/

---

# Uh-oh

<div align="center">
{% include assets/2022-07-01-clean-git/04-uh-oh.svg %}
</div>

---

# More uh-oh

<div align="center">
{% include assets/2022-07-01-clean-git/05-uh-oh.svg %}
</div>

`git log --first-parent`

---

# Trunk based development

<div align="center">
{% include assets/2022-07-01-clean-git/07-trunk-based.svg %}
</div>

- Also see Github flow vs. release flow: Edward Thomson 2018 https://www.youtube.com/watch?v=ykZbBD-CmP8

---
class: large-points

# Tip #4

- use tags for released versions: tags don't move with new commits
- branch name prefixes indicate the lifetime of the branch


- "bugfix" means "it goes into release", not "it fixes a bug"
- "feature" means "it goes into develop", not "it's a feature, not a bug"


---

# Doing stuff

---

# Merge commit

<div align="center">
{% include assets/2022-07-01-clean-git/08-merge-commit.svg %}
</div>

---

# Fast forward

<div align="center">
{% include assets/2022-07-01-clean-git/09-fast-forward.svg %}
</div>

---

# Squash merge

<div align="center">
{% include assets/2022-07-01-clean-git/10-squash.svg %}
</div>

---

# Rebase

<div align="center">
{% include assets/2022-07-01-clean-git/11-rebase.svg %}
</div>

---

# Interactive rebase

<div align="center">
{% include assets/2022-07-01-clean-git/12-rebase-i.svg %}
</div>

---

# Cherry pick

<div align="center">
{% include assets/2022-07-01-clean-git/13-cherry-pick.svg %}
</div>

---

# Amend

<div align="center">
{% include assets/2022-07-01-clean-git/14-amend.svg %}
</div>

---

# Force push

<div align="center">
{% include assets/2022-07-01-clean-git/15-force-push.svg %}
</div>

---
class: large-points
# Last tip

- "If you regularly need to use these techniques something is wrong somewhere"

---

# Questions?

