---
layout: presentation
title: Clean git
---

Mircea Baja - 1 July 2022

# Clean git

<div align="center">
{% include assets/2022-07-01-clean-git/00-cover.svg %}
</div>

---
class: large-points

# Agenda

- Strategies
- Tactics
- Tips


- for a cleaner git history in an imperfect world

---

# Basics/Prerequisites

---

# Linear local

<pre><font color="#3465A4"><b>repo</b></font>$ git <b>init</b>
Initialised empty Git repository in repo/.git/
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master #%)</b></font>$ git <b>add</b> a.txt
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master +)</b></font>$ git <b>status</b>
...
    <font color="#4E9A06">new file:   a.txt</font>
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master +)</b></font>$ git <b>diff</b> --staged
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master +)</b></font>$ git <b>commit -m</b> &apos;Initial&apos;
[master (root-commit) 902c9e2] Initial
 1 file changed, 5 insertions(+)
 create mode 100644 a.txt
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master)</b></font>$ 
</pre>

---

# Tip #1

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$    <font color="#666666">- branch name</font>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch %)</b></font>$  <font color="#666666">- untracked files</font>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch *)</b></font>$  <font color="#666666">- modified files</font>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch +)</b></font>$  <font color="#666666">- uncommitted files</font>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch=)</b></font>$   <font color="#666666">- local in same as remote</font>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch *=)</b></font>$ <font color="#666666">- in sync with remote, but modified files</font>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch&gt;)</b></font>$   <font color="#666666">- ahead of remote</font>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch&lt;)</b></font>$   <font color="#666666">- behind remote
</pre>

```bash
GIT_PS1_SHOWDIRTYSTATE=1
GIT_PS1_SHOWUNTRACKEDFILES=1
GIT_PS1_SHOWSTASHSTATE=1
GIT_PS1_SHOWUPSTREAM="auto"

PS1='...\[\033[01;33m\]$(__git_ps1 " (%s)")\[\033[00m\]\$ '
```

---

# Linear remote

<pre><font color="#3465A4"><b>temp</b></font>$ git <b>clone</b> repo.git
Cloning into &apos;repo&apos;...
done.
<font color="#3465A4"><b>temp</b></font>$ cd repo
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master=)</b></font>$ git <b>pull</b>
Already up-to-date.
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master *=)</b></font>$ git commit -am &apos;Change 3&apos;
[master 2180e3e] Change 3
 1 file changed, 1 insertion(+), 1 deletion(-)
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master&gt;)</b></font>$ git log --oneline
* <font color="#C4A000">2180e3e (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">master</font><font color="#C4A000">)</font> Change 3
* <font color="#C4A000">6c3a5fd (</font><font color="#CC0000">origin/master</font><font color="#C4A000">, </font><font color="#CC0000">origin/HEAD</font><font color="#C4A000">)</font> Change 2
* <font color="#C4A000">34d83e5</font> Change 1
* <font color="#C4A000">5cbc335</font> Initial
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master&gt;)</b></font>$ git <b>push</b>
...
   6c3a5fd..2180e3e  master -&gt; master
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master=)</b></font>$ 
</pre>

---

# Linear

<div align="center">
{% include assets/2022-07-01-clean-git/01-linear.svg %}
</div>

---

# Branch

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master=)</b></font>$ git <b>checkout -b</b> some_branch
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch *)</b></font>$ git commit -am &apos;Change 4&apos;
[some_branch c8bb82d] Change 4
 1 file changed, 1 insertion(+), 1 deletion(-)
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git push
fatal: The current branch some_branch has no upstream branch.
...
    git push --set-upstream origin some_branch
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git push --set-upstream origin some_branch
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch=)</b></font>$ git <b>checkout -</b>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (master=)</b></font>$ 
</pre>

---

# Tip #2

<pre>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git push
<b>fatal: The current branch some_branch has no upstream branch.</b>
...
    git push --set-upstream origin some_branch
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git push --set-upstream origin some_branch
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch=)</b></font>$
</pre>
<br/>
<pre>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git config --global push.default current
</pre>
<br/>
<pre>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch)</b></font>$ git <b>push -u</b>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch=)</b></font>$
</pre>

---

# Branch

<div align="center">
{% include assets/2022-07-01-clean-git/02-branch.svg %}
</div>

---

# Tip #3

<pre>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch=)</b></font>$ git <b>log --graph --oneline some_branch master</b>
* <font color="#C4A000">49d5900 (</font><font color="#CC0000">origin/master</font><font color="#C4A000">, </font><font color="#CC0000">origin/HEAD</font><font color="#C4A000">, </font><font color="#4E9A06">master</font><font color="#C4A000">)</font> Other change
<font color="#CC0000">|</font> * <font color="#C4A000">c8bb82d (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">some_branch</font><font color="#C4A000">, </font><font color="#CC0000">origin/some_branch</font><font color="#C4A000">)</font> Change 4
<font color="#CC0000">|/</font>  
* <font color="#C4A000">2180e3e</font> Change 3
* <font color="#C4A000">6c3a5fd</font> Change 2
* <font color="#C4A000">34d83e5</font> Change 1
* <font color="#C4A000">5cbc335</font> Initial
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (some_branch=)</b></font>$ 
</pre>
</pre>

---

# Branch models

---

# Git flow

<div align="center">
{% include assets/2022-07-01-clean-git/03-git-flow.svg %}
</div>

Vincent Driessen 2010 https://nvie.com/posts/a-successful-git-branching-model/

---

# Trunk based development

<div align="center">
{% include assets/2022-07-01-clean-git/07-trunk-based.svg %}
</div>

- Also see Github flow vs. release flow: Edward Thomson 2018 https://www.youtube.com/watch?v=ykZbBD-CmP8

---
class: large-points

# Tip #4

- branch name prefixes indicate the lifetime of the branch
  - "bugfix" means "it goes into release", not "it fixes a bug"
  - "feature" means "it goes into develop", not "it's a feature, not a bug"
  - "release" means "from develop to get release ready"

---
class: large-points

# Tip #5

- use tags for released versions: tags don't move with new commits


- sometimes tags end up on commits on develop (when release needs no other changes)
- fix bugs in develop, cherry pick in release (rather than merge): when fixing a bug, not known beforehand if it will be needed in a certain release

---
class: large-points
# Tip #6

<div align="center">
{% include assets/2022-07-01-clean-git/06-interlaced.svg %}
</div>

- avoid strategies that can involve complex merge conflict resolution
- e.g. long lived interwoven branches

---
class: large-points

# Tip #7

- treat feature and release branches are practically private, short lived branches

---

# Tip #8: first parent

---

# Uh-oh

<div align="center">
{% include assets/2022-07-01-clean-git/04-uh-oh.svg %}
</div>

---

# Uh-oh

<div align="center">
{% include assets/2022-07-01-clean-git/05-uh-oh.svg %}
</div>

---

# Log

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ git <b>log</b> --oneline develop
<font color="#C4A000">0c7898b (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">, </font><font color="#CC0000">origin/develop</font><font color="#C4A000">)</font> Merge branch &apos;release2&apos; into develop
<font color="#C4A000">1b740ed</font> Merge branch &apos;feature6&apos; into develop
<font color="#C4A000">74a3f6f</font> Merge branch &apos;bugfix6&apos; into release2
<font color="#C4A000">a2ba6fd</font> Merge branch &apos;feature3&apos; into develop
<font color="#C4A000">95ad0f1</font> <b>Change 18</b>
<font color="#C4A000">6a11225</font> <b>Change 19</b>
<font color="#C4A000">71610a6</font> Merge branch &apos;release1&apos; into develop
<font color="#C4A000">3af84e9</font> Change 17
<font color="#C4A000">aa94aae</font> Change 16
<font color="#C4A000">919cb58</font> Merge branch &apos;release1&apos; into develop
</pre>

---

# Log graph

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ git <b>log --graph</b> --oneline develop
*   <font color="#C4A000">0c7898b (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">, </font><font color="#CC0000">origin/develop</font><font color="#C4A000">)</font> Merge branch &apos;release2&apos; into develop
<font color="#CC0000">|</font><font color="#4E9A06">\</font>  
<font color="#CC0000">|</font> * <font color="#C4A000">74a3f6f</font> Merge branch &apos;bugfix6&apos; into release2
<font color="#CC0000">|/</font><font color="#3465A4">|</font> 
<font color="#CC0000">|</font> * <font color="#C4A000">6a11225</font> <b>Change 19</b>
<font color="#CC0000">|/</font>  
*   <font color="#C4A000">1b740ed</font> Merge branch &apos;feature6&apos; into develop
<font color="#75507B">|</font><font color="#06989A">\</font>  
<font color="#75507B">|</font> * <font color="#C4A000">95ad0f1</font> <b>Change 18</b>
<font color="#75507B">|</font> * <font color="#C4A000">aa94aae</font> Change 16
* <font color="#06989A">|</font>   <font color="#C4A000">a2ba6fd</font> Merge branch &apos;feature3&apos; into develop
<font color="#CC0000"><b>|</b></font><font color="#4E9A06"><b>\</b></font> <font color="#06989A">\</font>  
<font color="#CC0000"><b>|</b></font> * <font color="#06989A">|</font> <font color="#C4A000">3af84e9</font> Change 17
<font color="#CC0000"><b>|</b></font> * <font color="#06989A">|</font> <font color="#C4A000">d78738e</font> Change 13
<font color="#CC0000"><b>|</b></font> * <font color="#06989A">|</font> <font color="#C4A000">1903449</font> Change 4
* <font color="#4E9A06"><b>|</b></font> <font color="#06989A">|</font>   <font color="#C4A000">71610a6</font> Merge branch &apos;release1&apos; into develop
<font color="#06989A">|</font><font color="#3465A4"><b>\</b></font> <font color="#4E9A06"><b>\</b></font> <font color="#06989A">\</font>  
</pre>

- NOTE: maybe first parent always on the left

---

# Commit parents

<pre><font color="#3465A4"><b>epo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ git <b>show</b> 0c7898b
<font color="#C4A000">commit 0c7898b6180686394287d60bdb7207710e3dc471 (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">, </font><font color="#CC0000">origin/develop</font><font color="#C4A000">)</font>
Merge: <b>1b740ed 74a3f6f</b>
Author: Alice &lt;alice@example.com&gt;
Date:   Sun Jun 19 22:59:25 2022 +0100

    Merge branch &apos;release2&apos; into develop

</pre>

---

# Log first parent

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ git <b>log --first-parent</b> --graph --oneline develop
* <font color="#C4A000">0c7898b (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">, </font><font color="#CC0000">origin/develop</font><font color="#C4A000">)</font> Merge branch &apos;release2&apos; into develop
* <font color="#C4A000">1b740ed</font> Merge branch &apos;feature6&apos; into develop
* <font color="#C4A000">a2ba6fd</font> Merge branch &apos;feature3&apos; into develop
* <font color="#C4A000">71610a6</font> Merge branch &apos;release1&apos; into develop
* <font color="#C4A000">919cb58</font> Merge branch &apos;release1&apos; into develop
...
* <font color="#C4A000">5a563fc (</font><font color="#C4A000"><b>tag: 0.1</b></font><font color="#C4A000">)</font> Change 1
</pre>

---

# Tactics

---

# Merge commit

<div align="center">
{% include assets/2022-07-01-clean-git/08-merge-commit.svg %}
</div>

---

# Merge commit

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ git <b>log --oneline --graph develop feature</b>
* <font color="#C4A000">d682b2a (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">)</font> Some other change
<font color="#CC0000">|</font> * <font color="#C4A000">d0c3ef9 (</font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Change 3
<font color="#CC0000">|</font> * <font color="#C4A000">68cdd49</font> Change 2
<font color="#CC0000">|</font> * <font color="#C4A000">a6da8b9</font> Change 1
<font color="#CC0000">|/</font>  
* <font color="#C4A000">34d4b9f</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ 
</pre>

---

# Merge commit

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ git <b>merge --no-ff</b> feature
</pre>

<pre style="background-color:#eee"><font color="#C4A000">Merge branch &apos;feature&apos; into develop</font>
<font color="#3465A4"># Please enter a commit message to explain why this merge is necessary,</font>
...
<font color="#729FCF">~                                                                               </font>
<b>:x</b>
</pre>

<pre> Merge made by the &apos;recursive&apos; strategy.
 a.txt | 2 <font color="#4E9A06">+</font><font color="#CC0000">-</font>
 1 file changed, 1 insertion(+), 1 deletion(-)
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ 
</pre>

---

# Merge commit

<pre><font color="#3465A4"><b>epo</b></font><font color="#C4A000"><b> (develop)</b></font>$ git <b>log --oneline --graph develop feature</b>
*   <font color="#C4A000">3c37e6d (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">)</font> Merge branch &apos;feature&apos; into develop
<font color="#CC0000">|</font><font color="#4E9A06">\</font>  
<font color="#CC0000">|</font> * <font color="#C4A000">d0c3ef9 (</font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Change 3
<font color="#CC0000">|</font> * <font color="#C4A000">68cdd49</font> Change 2
<font color="#CC0000">|</font> * <font color="#C4A000">a6da8b9</font> Change 1
* <font color="#4E9A06">|</font> <font color="#C4A000"><b>d682b2a</b></font> Some other change
<font color="#4E9A06">|/</font>  
* <font color="#C4A000">34d4b9f</font> Base
<font color="#3465A4"><b>epo</b></font><font color="#C4A000"><b> (develop)</b></font>$ git <b>show</b>
<font color="#C4A000">commit 3c37e6d716f76bb4f4ad2632feb0534be6102481 (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">)</font>
Merge: <b>d682b2a</b> d0c3ef9
Author: Alice &lt;alice@example.com&gt;
Date:   Mon Jun 20 21:03:32 2022 +0100

    Merge branch &apos;feature&apos; into develop
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ 
</pre>

---

# Fast forward

<div align="center">
{% include assets/2022-07-01-clean-git/09-fast-forward.svg %}
</div>

---

# Fast forward

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ git <b>log --oneline --graph develop feature</b>
* <font color="#C4A000">d594416 (</font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Change 1
* <font color="#C4A000">364ef22 (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">)</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ git <b>merge --ff-only</b> feature
Updating 364ef22..d594416
Fast-forward
 a.txt | 2 <font color="#4E9A06">+</font><font color="#CC0000">-</font>
 1 file changed, 1 insertion(+), 1 deletion(-)
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ git <b>log --oneline --graph develop feature</b>
* <font color="#C4A000">d594416 (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">, </font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Change 1
* <font color="#C4A000">364ef22</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ </pre>

---

# Just merge

<pre>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ git <b>merge</b> feature
</pre>

- fast forward if possible, else create merge commit

---

# Squash merge

<div align="center">
{% include assets/2022-07-01-clean-git/10-squash.svg %}
</div>

---

# Squash merge

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ git <b>merge --squash feature</b>
Squash commit -- not updating HEAD
Automatic merge went well; stopped before committing as requested
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop +)</b></font>$ git <b>commit</b> -m &apos;Change 1 to 3&apos;
[develop 3c58559] Change 1 to 3
 1 file changed, 1 insertion(+), 1 deletion(-)
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ git <b>log --oneline --graph develop feature</b>
* <font color="#C4A000">3c58559 (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">)</font> Change 1 to 3
* <font color="#C4A000">1678d67</font> Some other change
<font color="#CC0000">|</font> * <font color="#C4A000">4450028 (</font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Change 3
<font color="#CC0000">|</font> * <font color="#C4A000">2df5e28</font> Change 2
<font color="#CC0000">|</font> * <font color="#C4A000">e27fb78</font> Change 1
<font color="#CC0000">|/</font>  
* <font color="#C4A000">70045eb</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop)</b></font>$ 
</pre>

---

# Rebase

<div align="center">
{% include assets/2022-07-01-clean-git/11-rebase.svg %}
</div>

---

# Rebase

<pre><font color="#3465A4"><b>epo</b></font><font color="#C4A000"><b> (feature)</b></font>$ git <b>rebase develop</b>
First, rewinding head to replay your work on top of it...
Applying: Change 1
Applying: Change 2
Applying: Change 3
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature)</b></font>$ git <b>log --oneline --graph develop feature</b>
* <font color="#C4A000">c659a53 (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Change 3
* <font color="#C4A000">012859d</font> Change 2
* <font color="#C4A000">8dd3340</font> Change 1
* <font color="#C4A000">4b96ca3 (</font><font color="#4E9A06">develop</font><font color="#C4A000">)</font> Some other change
* <font color="#C4A000">ce88a4f</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature)</b></font>$ 
</pre>

---

# Interactive rebase

<div align="center">
{% include assets/2022-07-01-clean-git/12-rebase-i.svg %}
</div>

---

# Interactive rebase

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature)</b></font>$ git <b>rebase -i HEAD~4</b>
</pre>

<pre style="background-color:#eee"><font color="#3465A4">pick</font> <font color="#3465A4">18dedc5</font><font color="#AD7FA8"> Change 1</font>
<font color="#3465A4">fixup</font> <font color="#3465A4">f619bd2</font><font color="#AD7FA8"> Change 4</font>
<font color="#3465A4">pick</font> <font color="#3465A4">ec47071</font><font color="#AD7FA8"> Change 2</font>
<font color="#3465A4">fixup</font> <font color="#3465A4">56ce00b</font><font color="#AD7FA8"> Change 3</font>

<font color="#3465A4"># Rebase 3d89342..f619bd2 onto f619bd2 (4 commands)</font>
<font color="#3465A4">#</font>
<font color="#3465A4"># Commands:</font>
<font color="#3465A4"># p, pick &lt;commit&gt; = use commit</font>
...
<font color="#3465A4"># f, fixup &lt;commit&gt; = like &quot;squash&quot;, but discard this commit&apos;s log message</font>
...
jjjddkkP
cwfixup ESC
jj0.
:x
</pre>

---

# Interactive rebase

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature)</b></font>$ git <b>rebase -i HEAD~4</b>
Successfully rebased and updated refs/heads/feature.
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature)</b></font>$ git <b>log --oneline --graph develop feature</b>
* <font color="#C4A000">5ca72ab (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Change 2
* <font color="#C4A000">a9cecf4</font> Change 1
<font color="#CC0000">|</font> * <font color="#C4A000">85b3097 (</font><font color="#4E9A06">develop</font><font color="#C4A000">)</font> Some other change
<font color="#CC0000">|/</font>  
* <font color="#C4A000">3d89342</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature)</b></font>$ 
</pre>

---

# Cherry pick

<div align="center">
{% include assets/2022-07-01-clean-git/13-cherry-pick.svg %}
</div>

---

# Cherry pick

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (release)</b></font>$ git <b>log --oneline --graph develop release</b>
* <font color="#C4A000">d641e3b (</font><font color="#4E9A06">develop</font><font color="#C4A000">)</font> Change 3
* <font color="#C4A000">a543eee</font> Bugfix
* <font color="#C4A000">af606c4</font> Change 1
<font color="#CC0000">|</font> * <font color="#C4A000">595643f (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">release</font><font color="#C4A000">)</font> Release change
<font color="#CC0000">|/</font>  
* <font color="#C4A000">ec4d982</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (release)</b></font>$ git <b>cherry-pick a543eee</b>
[release 567fcc3] Bugfix
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (release)</b></font>$ git <b>log --oneline --graph develop release</b>
* <font color="#C4A000"><b>567fcc3</b> (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">release</font><font color="#C4A000">)</font> Bugfix
* <font color="#C4A000">595643f</font> Release change
<font color="#CC0000">|</font> * <font color="#C4A000">d641e3b (</font><font color="#4E9A06">develop</font><font color="#C4A000">)</font> Change 3
<font color="#CC0000">|</font> * <font color="#C4A000"><b>a543eee</b></font> Bugfix
<font color="#CC0000">|</font> * <font color="#C4A000">af606c4</font> Change 1
<font color="#CC0000">|/</font>  
* <font color="#C4A000">ec4d982</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (release)</b></font>$ 
</pre>

---

# Amend

<div align="center">
{% include assets/2022-07-01-clean-git/14-amend.svg %}
</div>

---

# Amend

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature *)</b></font>$ git <b>log --oneline feature</b>
<font color="#C4A000"><b>3c68932</b> (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Some change
<font color="#C4A000">f887d61</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature *)</b></font>$ git <b>add .</b>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature +)</b></font>$ git <b>commit --amend --no-edit</b>
[feature ad3d11e] Some change
 Date: Tue Jun 21 20:20:05 2022 +0100
 1 file changed, 1 insertion(+), 1 deletion(-)
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature)</b></font>$ git <b>log --oneline feature</b>
<font color="#C4A000"><b>ad3d11e</b> (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Some change
<font color="#C4A000">f887d61</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature)</b></font>$ 
</pre>

---

# Force push

<div align="center">
{% include assets/2022-07-01-clean-git/15-force-push.svg %}
</div>

---

# Force push

<pre><font color="#3465A4"><b>epo</b></font><font color="#C4A000"><b> (feature&lt;&gt;)</b></font>$ git <b>log --oneline --graph feature origin/feature</b>
* <font color="#C4A000">ba4d6e8 (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Better change
<font color="#CC0000">|</font> * <font color="#C4A000">5b38ed3 (</font><font color="#CC0000">origin/feature</font><font color="#C4A000">)</font> Some change
<font color="#CC0000">|/</font>  
* <font color="#C4A000">b766375</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature&lt;&gt;)</b></font>$ git <b>push</b>
 <font color="#CC0000">! [rejected]       </font> feature -&gt; feature (non-fast-forward)
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature&lt;&gt;)</b></font>$ git <b>push --force</b>
...
 + 5b38ed3...ba4d6e8 feature -&gt; feature (forced update)
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature=)</b></font>$ git <b>log --oneline --graph feature origin/feature</b>
* <font color="#C4A000">ba4d6e8 (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">feature</font><font color="#C4A000">, </font><font color="#CC0000">origin/feature</font><font color="#C4A000">)</font> Better change
* <font color="#C4A000">b766375</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature=)</b></font>$ 
</pre>

---

# Add -p

<div align="center">
{% include assets/2022-07-01-clean-git/16-add-p.svg %}
</div>

---

# Add -p

<pre><font color="#3465A4"><b>epo</b></font><font color="#C4A000"><b> (feature *)</b></font>$ git <b>diff a.txt</b>
...
<font color="#CC0000">-qui</font>
<font color="#CC0000">-dolorem</font>
<font color="#4E9A06">+lorem</font>
 ipsum,
...
 numquam
<font color="#CC0000">-[do]</font>
<font color="#4E9A06">+do</font>
 eius
...
</pre>

---

# Add -p

<pre><font color="#3465A4"><b>epo</b></font><font color="#C4A000"><b> (feature *)</b></font>$ git <b>add -p a.txt</b>
...
<font color="#CC0000">-qui</font>
<font color="#CC0000">-dolorem</font>
<font color="#4E9A06">+lorem</font>
 ipsum,
...
<font color="#3465A4">(1/2) Stage this hunk [y,n,q,a,d,j,J,g,/,e,?]? </font><b>y</b>
...
 numquam
<font color="#CC0000">-[do]</font>
<font color="#4E9A06">+do</font>
 eius
...
<font color="#3465A4">(2/2) Stage this hunk [y,n,q,a,d,K,g,/,e,?]? </font><b>n</b>

<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature *+)</b></font>$ 
</pre>

---

# Add -p

<pre><font color="#3465A4"><b>epo</b></font><font color="#C4A000"><b> (feature *+)</b></font>$ git <b>commit -m &apos;Some commit&apos;</b>
[feature 4660ca5] Some commit
 1 file changed, 1 insertion(+), 2 deletions(-)
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature *)</b></font>$ git <b>diff a.txt</b>
...
 numquam
<font color="#CC0000">-[do]</font>
<font color="#4E9A06">+do</font>
 eius
 modi
...
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature *)</b></font>$ 
</pre>

---

# Delete unused branches

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ git <b>branch</b>
* <font color="#4E9A06">develop</font>
  feature
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ git <b>branch -d feature </b>
Deleted branch feature (was 4660ca5).
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ git <b>push origin --delete feature</b>
 - [deleted]         feature
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ git <b>pull --prune</b>
 - [deleted]         (none)     -&gt; origin/another_feature
Already up-to-date.
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ 
</pre>

---

# How to mess up

---

# How to mess up

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature)</b></font>$ git <b>log --graph --oneline feature develop</b>
* <font color="#C4A000">3438fc3 (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Some change
* <font color="#C4A000">23ee7fe (</font><font color="#CC0000">origin/develop</font><font color="#C4A000">, </font><font color="#4E9A06">develop</font><font color="#C4A000">)</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature)</b></font>$ 
</pre>

- "Mircea showed me how to fast forward merge"

---

# How to mess up

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (feature)</b></font>$ git <b>checkout develop</b>
Switched to branch &apos;develop&apos;
Your branch is up-to-date with &apos;origin/develop&apos;.
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ git <b>merge --ff-only feature</b>
Updating 23ee7fe..3438fc3
Fast-forward
 a.txt | 2 <font color="#4E9A06">+</font><font color="#CC0000">-</font>
 1 file changed, 1 insertion(+), 1 deletion(-)
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop&gt;)</b></font>$ git <b>log --graph --oneline feature develop</b>
* <font color="#C4A000">3438fc3 (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">, </font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Some change
* <font color="#C4A000">23ee7fe (</font><font color="#CC0000">origin/develop</font><font color="#C4A000">)</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop&gt;)</b></font>$ git <b>push</b>
</pre>

---

# How to mess up

<pre><font color="#3465A4"><b>epo</b></font><font color="#C4A000"><b> (develop&gt;)</b></font>$ git <b>push</b>
 <font color="#CC0000">! [rejected]       </font> develop -&gt; develop (fetch first)
<font color="#CC0000">error: failed to push some refs to &apos;/home/mircea/Desktop/temp/repo.git&apos;</font>
<font color="#C4A000">hint: Updates were rejected because the remote contains work that you do</font>
<font color="#C4A000">hint: not have locally. This is usually caused by another repository pushing</font>
<font color="#C4A000">hint: to the same ref. <b>You may want to first integrate the remote changes</b></font>
<font color="#C4A000">hint: (e.g., &apos;<b>git pull</b> ...&apos;) before pushing again.</font>
<font color="#C4A000">hint: See the &apos;Note about fast-forwards&apos; in &apos;git push --help&apos; for details.</font>
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop&gt;)</b></font>$ 
</pre>

- "git told me to"

---

# How to mess up

<pre><font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop&gt;)</b></font>$ git <b>pull</b>
...
   23ee7fe..615b3b4  develop    -&gt; origin/develop
Merge made by the &apos;recursive&apos; strategy.
 b.txt | 0
 1 file changed, 0 insertions(+), 0 deletions(-)
 create mode 100644 b.txt
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop&gt;)</b></font>$ git <b>push</b>
...
   615b3b4..0e030a7  develop -&gt; develop
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ 
</pre>

---

# How to mess up

<pre><font color="#3465A4"><b>epo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ git <b>log --graph --oneline feature develop</b>
*   <font color="#C4A000">0e030a7 (</font><font color="#06989A">HEAD -&gt; </font><font color="#4E9A06">develop</font><font color="#C4A000">, </font><font color="#CC0000">origin/develop</font><font color="#C4A000">)</font> Merge branch &apos;develop&apos;
<font color="#CC0000">|</font><font color="#4E9A06">\</font>  
<font color="#CC0000">|</font> * <font color="#C4A000">615b3b4</font> Other change
* <font color="#4E9A06">|</font> <font color="#C4A000">3438fc3 (</font><font color="#4E9A06">feature</font><font color="#C4A000">)</font> Some change
<font color="#4E9A06">|/</font>  
* <font color="#C4A000">23ee7fe</font> Base
<font color="#3465A4"><b>repo</b></font><font color="#C4A000"><b> (develop=)</b></font>$ 
</pre>

- wrong first parent
- you can do worse than this

---
class: large-points
# Tip #9

- don't follow recipes blindly
- understand what you do
- be a responsible grown up, don't blame me :)

---
class: large-points
# Last tip

- "If you regularly need to use these techniques something is wrong somewhere"
- But we're not in a perfect world with perfect foresight:
  - A commit on a feature branch fails a test
  - We mix multiple issues in the same feature branch
  - Developing/testing a feature takes longer
  - Code review/pull requests take longer
- Sometimes it's a matter of taste, not always a fixed recipe
  - Force push feature branch before pull request: probably fine
  - Force push feature branch after pull request created: maybe
  - Force push on develop: nop

---

# Questions?

