---
layout: presentation
title: Coroutine task
---

Mircea Baja - 28 June 2023

# Coroutine task

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/00-cover.svg %}
</div>

---

# Terminology

- illustrated using abstract pictures

---

# Sequential

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/01-sequential.svg %}
</div>

# Concurrent

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/03-concurrent.svg %}
</div>

---

# Sequential

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/01-sequential.svg %}
</div>

# Parallel

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/02-parallel.svg %}
</div>

---

# Sequential

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/01-sequential.svg %}
</div>

# Concurrent and parallel

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/04-concurrent-parallel.svg %}
</div>

---

# Function vs. coroutine

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/05-function-coroutines.svg %}
</div>

---

# Coroutines

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/06-coroutines.svg %}
</div>

---

# Stack

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/07-stack.svg %}
</div>

---

# Stackful

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/08-stackful.svg %}
</div>

---

# Stackless

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/09-stackless.svg %}
</div>

---

# Duality

<div align="center">
{% include assets/2023-06-23-cpp-coroutines/10-duality.svg %}
</div>

---

# Use cases for coroutines

---

# Generator

```cpp
struct fib_state {
  int x_1 = 1;
  int x_2 = 0;
};

int next_fib(fib_state & state) {
  int val = state.x_1 + state.x_2;
  state.x_2 = state.x_1;
  state.x_1 = val;
  return val;
}

void foo() {
  fib_state state;
  while (true) {
    int x = next_fib(state);
    // use x
  }
}
```
---

# Generator

```cpp
generator fib() {
  int x_1 = 1;
  int x_2 = 0;
  while (true) {
    int val = x_1 + x_2;
    yield val;
    x_2 = x_1;
    x_1 = val;
  }
}

void foo() {
  for (int x: fib()) {
    // use x
  }
}
```
---

# Generator

```cpp
std::generator<int> fib() {
  int x_1 = 1;
  int x_2 = 0;
  while (true) {
    int val = x_1 + x_2;
    co_yield val;
    x_2 = x_1;
    x_1 = val;
  }
}

void foo() {
  for (int x: fib()) {
    // use x
  }
}
```
---

# Simulations

---

# UI workflows

---

# Async IO

---

# C++ mechanics

---

# co_xyz

```cpp
task foo() {
  co_await bar();
}

generator buzz() {
  co_yield 42;
}

task wozz() {
  co_return 42;
}

```

---

# Questions?

