---
layout: presentation
title: Structured concurency
---

Mircea Baja - 7 June 2025

# Structured concurency

<div align="center">
{% include assets/2025-06-07-structured-concurency/00-cover.svg %}
</div>

---

# Structured programming

<div align="center">
{% include assets/2025-06-07-structured-concurency/01-structured-programming.svg %}
</div>

[Nathaniel J. Smith: Notes on structured concurrency, or: Go statement
considered
harmful](https://vorpus.org/blog/notes-on-structured-concurrency-or-go-statement-considered-harmful/)

- `goto` corresponds to low level assembly `jump` instructions
- ends in spagetti code: graphs that do not obviously reduce to sequential
  (i.e. linear)
- replaced with constructs that reduce to sequential
- in modern languages even `goto` is tamed (only jumps within the same
  function)
  - but kept for the three cases where it's needed once every 20 years or so
- structured programming is what enables further high level language constructs
  like RAII

---

# Low level concurrency APIs

```cpp
int WSAAPI WSARecv(
  [in]      SOCKET                             s,
  [in, out] LPWSABUF                           lpBuffers,
  [in]      DWORD                              dwBufferCount,
  [out]     LPDWORD                            lpNumberOfBytesRecvd,
  [in, out] LPDWORD                            lpFlags,
  [in]      LPWSAOVERLAPPED                    lpOverlapped,
  [in]      LPWSAOVERLAPPED_COMPLETION_ROUTINE lpCompletionRoutine
);
```

- Can be called with a pointer to the completion routine (a callback)
- Until that routine is called (or cancelled) the socket, buffer, overlapped
  structure (often a derived type holding more data)
  - need to be kept alive
  - they might be accessed during or after the call to `WSARecv`

---

# Unstructured concurrency

<div align="center">
{% include assets/2025-06-07-structured-concurency/02-goto-vs-detached.svg %}
</div>

[Nathaniel J. Smith: Notes on structured concurrency, or: Go statement
considered
harmful](https://vorpus.org/blog/notes-on-structured-concurrency-or-go-statement-considered-harmful/)

Low level C APIs expose a detached behaviour which on one side is necessary,
like `jump` statements in assembly, but we want that wrapped in structured
concurrency primitives that are easier to use correctly.

We don't want to continue to stay low level and error prone.

---

# Example bad

```cpp
int value = get_value();
std::shared_ptr<Foo> sharedFoo = get_foo();
{
  const auto lambda = [value, sharedFoo]() -> std::future<void>
  {
    co_await something();
    // "sharedFoo" and "value" have already been destroyed
    // the "shared" pointer didn't accomplish anything
  };
  lambda();
} // the lambda closure object has now gone out of scope
```

- [CP.51: Do not use capturing lambdas that are
  coroutines](https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#cp51-do-not-use-capturing-lambdas-that-are-coroutines),
  similar incorrect recommendations elsewhere: [A capturing lambda can be a
  coroutine, but you have to save your captures while you still
  can](https://devblogs.microsoft.com/oldnewthing/20211103-00/?p=105870)
- the example uses unstructured concurrency: the `lambda()` is assumed to be
  eager and run in detached mode
- the coding guideline, instead of pointing out to the unstructured concurrency
  as a bad thing, makes recommendations about the usage of `shared_ptr`
  (additional allocations), avoiding using lambda captures, gives up on RAII

---

# Example good: wait_any

<div align="center">
{% include assets/2025-06-07-structured-concurency/03-wait_any.svg %}
</div>

Easy to say, but what are some examples of structured concurrency primitives?
`wait_any`

- we started three tasks
- the second completed first
- the other two are cancelled
- continues when all three are completed (cancelled or otherwise)
- returns the value of winner (second task in this case)

---

# Example good: wait_all

<div align="center">
{% include assets/2025-06-07-structured-concurency/04-wait_all.svg %}
</div>

- we started three tasks
- the second completed first, nevermind
- continues when all three are completed
- returns the value of each (e.g. as a tuple)

---

# wait_all cancel

<div align="center">
{% include assets/2025-06-07-structured-concurency/05-wait_all_cancel.svg %}
</div>

- but when task fails then the remaining are cancelled
- there are quite a lot of similarities in this behaviour to `wait_any`

---

# Structured concurrency

---

# The basics should work

```cpp
task<void> echo(socket s) {
  buffer buff;
  while (true) {
    std::size_t length = co_await async_read_some(s, buff);
    co_await async_write(s, buff, length);
  }
}
```

- we have local variables: `buff`, `length`
- RAII works: `buff` gets destroyed on scope exit
- we have a `while(true)` loop
- `read_some` takes a reference to the buffer variable

---

# The basics should work

- variable declarations
- if/else
- for loops
- function calls
- RAII
- lambdas
- pass argument by reference


- We've seen that the C++ core guidelines give up on this, [CP.53: Parameters
  to coroutines should not be passed by
  reference](https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#cp53-parameters-to-coroutines-should-not-be-passed-by-reference)
- We'll see that the sender/receiver framework partially gives up on this and
  has "algorithms" for basic stuff e.g. `just` for variable declaration,
  `repeat` for loops, `then` for function calls and care is required for
  algorithms passing

---

# Continuation

```cpp
task<void> echo(socket s) {
  buffer buff;
  while (true) {
    std::size_t length = co_await async_read_some(s, buff);
    co_await async_write(s, buff, length);
  }
}
```

- for example `co_await async_write(...)`
- `echo` runs uninterrupted until a `co_await`
- `async_write` is lazy, does not introduce concurency
- `co_await` introduces concurrency
- but `echo` only continues when `co_await` completes


- concurrency introduced by `co_await` does not outlive the parent

---

- chains
- discuss issue with reference parameters, lambda captures, pointers, string_views
  - the generator problems with scope
- discuss the issue of detach/fire and forget
  - sharing data e.g. by value
  - lifetime
    - though they really like detached in embedded environments, explain why
  - error propagation
- sync start a chain
- wait_any, wait_all
- wait_for
  - stop_when (e.g. on user interrupt instead of timer)
- nursery


---

# Questions?

