---
layout: presentation
title: Coroutine task
---

Mircea Baja - 11 May 2025

# C++ coroutine mechanics

<div align="center">
{% include assets/2025-05-11-coro-mechanics/00-cover.svg %}
</div>


---

# C++ functions reminder

<div align="center">
{% include assets/2025-05-11-coro-mechanics/01-function-stack.svg %}
</div>

- optimisations are on top of this model e.g.:
 - return value and arguments might be passed via registers (calling
   conventions)
 - function body might be inlined

---

# C++ coroutines

- introduced in C++20
- spec has a large number of types and rules, most different from the others, ranging
  - from new keywords and compiler implementation
  - user implemented, but with language defined hooks for customization
  - to "nice to have"s, but could be entirely implemented by user
- NOTE: user(s) can further be divided into library writers and users of the
  library (will conflate both together here)


- reading list
  - [spec
    N4775](https://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/n4775.pdf):
    relatively short, readable, but background info required
  - [Lewis Baker's posts](https://lewissbaker.github.io/): long, not up to
    date, but really good background info required to understand coroutines

---

# Visual layout

<div align="center">
{% include assets/2025-05-11-coro-mechanics/02-cpp-coro-stackless-fn.svg %}
</div>

- stackless, decomposed into coroutine frame and function(s), first call is
  special

---

# std::coroutine_handle

- C++ class wrapper around a pointer to the coroutine frame
- allows control of the coroutine frame via members of the class


- `void resume()`
- `void destroy()`
- `bool done()`
- ...


- handle, not RAII (e.g. it has copy, not just move; copy copies the pointer)
- also it's a template (in an unusual way for handles)


- it has to be used with care: don't resume if destroyed, don't resume if not
  suspended, don't destroy more than once, etc.


---

# Coroutine syntax

```cpp
task foo() {
  co_await bar();
}

generator buzz() {
  co_yield 42;
}

task wozz() {
  co_return 42;
}

```

- looks like a function
- three new keywords:
  - `co_await` used to define a suspension point
  - `co_yield` to suspend and yield some value
  - `co_return` to return a value at the end
- no just `return` in the coroutine body
- other than that, normal code inside the coroutine body
- can be member, template, but not destructor, not in `catch` blocks

---

# co_await is more important

eventually resolves expression to an awaiter object that controls suspension

then

```cpp
auto x = co_await awaiter;
```

is roughly equivalent to

```cpp
if (!awaiter.await_ready()) {
  // ... suspend coroutine (save data) here
  awaiter.await_suspend(coroutine_handle) // 3 variations of
  // ... return to caller here
  // ...
  // ... when resumed continue from here
}
auto x = awaiter.await_resume();
```

NOTE: call to `await_suspend` is after the coroutine data is saved (suspended),
this helps with multithreading

---

# std::suspend_always

```cpp
struct suspend_always {
  constexpr bool await_ready() const noexcept {
    return true;
  }

  constexpr void await_suspend(coroutine_handle<>) const noexcept {}
  constexpr void await_resume() const noexcept {}
};
```

- this is an example of "nice to have"

---

# std::suspend_never

```cpp
struct suspend_always {
  constexpr bool await_ready() const noexcept {
    return false;
  }

  constexpr void await_suspend(coroutine_handle<>) const noexcept {}
  constexpr void await_resume() const noexcept {}
};
```

---

# co_return, co_yield

```cpp
task<int> wozz() {
  co_return 42;
}

task<void> foo() {
  co_await bar();
}

generator<int> buzz() {
  co_yield 42;
}
```

- type of `co_return` is not the same as the functions declared return type
- the declared return type allows access to the values passed to `co_return`
  and `co_yield`, and it's often a template class that takes the type of
  `co_return` and/or `co_yield` as a template parameter

---

# Coroutine implemented as functions

- mathematical equivalence of functions and coroutines (duality)
- but the function mechanics uses hardware support such as assembly instruction
  `CALL` knows to save the current address on the stack, increment the stack
  pointer register and continue from the location provided
- in practice a coroutine is implemented in terms of functions to exploit this
  hardware efficiency
  - the first of these functions is special: ramp
  - the following resume or destroy from a previous suspension


---

# Ramp

<div align="center">
{% include assets/2025-05-11-coro-mechanics/03-ramp-stack.svg %}
</div>

---

# Determine promise type

```cpp
// given
task foo() {
  co_await bar();
}
```

```cpp
class task {
public:
  using promise_type = some_other_type;
};

// or

class task {
public:
  class promise_type {
  };
};

```

- this promise type has nothing to do with `std::promise`
- usually promise type associated to the coroutine via the declared return type
- in the simplest: the `promise_type` type (literally) aliased or defined
  within the declared return type

---

# Coroutine traits

```cpp
template<class, class...>
struct coroutine_traits {};

template<class R, class... Args>
requires requires { typename R::promise_type; }
struct coroutine_traits<R, Args...>
{
  using promise_type = typename R::promise_type;
};
```

- this customization point allows using coroutine declared return types that do
  not need to be change to expose a `promise_type` OR to consider coroutine
  function arguments too in the resolution to the `promise_type`

---

# Body re-write

```cpp
  promise_type promise(<<promise constructor args>>);
  try {
    co_await promise.initial_suspend();
    // ... body here
  }
  catch (...) {
    if (!made enough progress through initial_suspend) {
      throw;
    }
    promise.undhandled_exception();
  }
  co_await promise.final_suspend();
```

- above pseudocode is a over-simplification
- promise is allocated on the coroutine frame
- it allows coroutine behaviour customization:
  - should it suspend at the start?
  - should it suspend at the end?
  - what should it do if exceptions are thrown?
  - space on the frame to handle the values from `co_return` and/or `co_yield`
  - etc.

---

# Promise

```cpp
  promise_type promise(<<promise constructor args>>);
```

- the compiler looks for a constructor that matches the arguments provided to
  the coroutine
- else (typical) falls back to a default constructor


- the promise allows storage of additional content in the coroutine frame,
  e.g.:
  - values returned by `co_return` until they are picked by the caller
  - the parent coroutine (to be resumed when this coroutine completes)
- customization of `co_await`

---

# get_return_object

```cpp
task promise_type::get_return_object() noexcept
{
  return { std::coroutine_handle<promise_type>::from_promise(*this) };
}
```

- this is the return value from the ramp function
  - basically the first time the coroutine suspends
  - quite common is to suspend in `initial_suspend`


- conversion between `promise` and `coroutine_handle` implies the promise is
  stored at a constant offset from the coroutine frame address

---

TODO:
- how state is stored
- two options

- conversion between promise and coroutine_handle
  - at constant offset


- customizing awaiters
- temporary awaiters are stored on the coroutine frame
- the purpose of await suspend after coroutine is suspended
- the three versions of await_suspend
  - the tail recursion case


---

# Questions?

