---
layout: presentation
title: Structured concurency
---

Mircea Baja - 7 June 2025

# Structured concurency

<div align="center">
{% include assets/2025-06-07-structured-concurency/00-cover.svg %}
</div>

---

# Structured programming

<div align="center">
{% include assets/2025-06-07-structured-concurency/01-structured-programming.svg %}
</div>

[Nathaniel J. Smith: Notes on structured concurrency, or: Go statement
considered
harmful](https://vorpus.org/blog/notes-on-structured-concurrency-or-go-statement-considered-harmful/)

- `goto` corresponds to low level assembly `jump` instructions
- ends in spagetti code: graphs that do not obviously reduce to sequential
  (i.e. linear)
- replaced with constructs that reduce to sequential
- in modern languages even `goto` is tamed (only jumps within the same
  function)
  - but kept for the three cases where it's needed once every 20 years or so

---

# Unstructured concurrency

<div align="center">
{% include assets/2025-06-07-structured-concurency/02-goto-vs-detached.svg %}
</div>


Low level C APIs expose a detached behaviour where 

---

- continuation
- chains
- sane principles
  - a child coroutine does not outlives its parent
  - a coroutine runs uninterrupted until a co_await
- discuss issue with reference parameters, lambda captures, pointers, string_views
  - the generator problems with scope
- discuss the issue of detach/fire and forget
  - sharing data e.g. by value
  - lifetime
    - discuss bad advice that uses detached models
    - https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Rcoro-capture
    - more bad advice https://devblogs.microsoft.com/oldnewthing/20211103-00/?p=105870
    - though they really like detached in embedded environments, explain why
  - error propagation
- sync start a chain
- wait_any, wait_all
- wait_for
  - stop_when (e.g. on user interrupt instead of timer)
- nursery


---

# Questions?

