<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | strip_html }}</title>
    <style>
      body { font-family: sans-serif; }
      h1, h2, h3 { font-family: serif; }
      .remark-code, .remark-inline-code { font-family: monospace; }
      .remark-code-line-highlighted     { background-color: #eedddd; }
      .large-points li { font-size: 150% }
      .large-points li li { font-size: 100% }
      .larger-points li { font-size: 200% }
      .larger-points li li { font-size: 100% }
      blockquote { color: #777; font-size: 150%; font-style: italic; }
    </style>
  </head>
  <body>
    <textarea id="source">
      {{ content }}
    </textarea>
    <script type="text/javascript" src="/js/remark-latest.min.js"></script>
    <script type="text/javascript">
      var slideshow = remark.create({
        ratio: "16:9",
        slideNumberFormat: '%current%',
        highlightLines: true,
      });
    </script>
  </body>
</html>
